html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
}

.game-container {
  height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px #000 solid;
}

.game-outputs-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: stretch;
  text-align: center;
}

.button {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 1.8em;
  min-height: 1.8em;
  border: 1px #333 solid;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.33);
  margin: 0.2rem;
  cursor: pointer;
}

.back-green {
  background-color: #0f0;
}

.back-red {
  background-color: #f00;
}

.keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  font-size: 1.2rem;
}

.masked-phrase {
  font-family: monospace;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-align: center;
  padding: 1rem;
  border: 1px #666 solid;
  border-radius: 5px;
  margin: 0.5rem;
}

.phrase-long {
  font-size: 1.6em;
}

.status-display {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #f90;
  text-shadow: 0 0 1px #000, 0 2px 3px rgba(0,0,0,0.75);
}

.text-green {
  color: #0f0;
}

.text-red {
  color: #f00;
}

.bodypart {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  height: 100%;
  z-index: -1;
}

@media (max-height: 420px) and (orientation: landscape) {
  .game-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .keyboard {
    font-size: 1rem;
  }

  .game-inputs-container{
    height: 100%;
    width: 14em;
  }

  .game-outputs-container {
    width: 100%;
  }
}

.shake {
  animation: shakeFrames;
  animation-duration: 0.5s;
  animation-iteration-count: 5;
}

@keyframes shakeFrames {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}